<html>
  <head>
    <title>Reading data from radio buttons</title>
  </head>
  <body>
    <h1>Reading data from radio buttons</h1>
    This Ruby on Rails application reads data from radio buttons.
    <br>
    <br>
    Вы ответили на <%= @summa %> вопросов, все!
    <br>
    <br>
  </body>
</html>

