<html>
  <head>
    <title>Using Radio Buttons</title>
  </head>
  <body>
    <h1>Working With Radio Buttons</h1>
    This Ruby on Rails application lets you read data from radio buttons.
    <br>
    <form action = "/users2s/:id/proba2">
      Select your new car's color.
      <br>
      <input type="radio" name="radios1" value="red1">red
      <input type="radio" name="radios1" value="green1">green
      <input type="radio" name="radios1" value="blue1">blue
      <input type="radio" name="radios2" value="red1">red
      <input type="radio" name="radios2" value="green1">green
      <input type="radio" name="radios2" value="blue1">blue
      <br>
      <br>
      <input type="submit"/>
    </form>
  </body>
</html>


