<div style="padding-left: 8%;"><%= link_to new_post_path, id: "new", style: "padding: 3%; padding-bottom: 5.5%; padding-left: 8%; padding-right: 8%;", remote: true, class: "btn" do %>New todo <% end %> </div>

<div id="posts", style="padding-bottom: 20%;">
</div>
  
<script>
  $('#posts').html('<%=j render("index") %>'); 
</script>
