<div class="row">
  <% @posts.each do |post| %>
    <div class="col-sm-6 col-md-3">
      <div class="post_wrapper">
        <%= link_to post.title, post %> submitted by user
        <%= link_to post.user.name, post %>
      </div>
    </div>
  <% end %>
</div>