// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#profile_image {

        width: 40px;
		position: absolute;
		right: 4em;
		top: 2em;
}